[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Esperar 5 segundos, encender el LED rojo, terminar el programa."]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 670 :height 356 :controls true}
  [:source {:src "exercises/1.mov" :type "video/mp4"}]]]