[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Prender todos los leds la mitad de la intensidad máxima, elegir el valor a ojo para que la intensidad de la luz se aproxime al valor deseado (la relación no es lineal)"]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]]