[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Prender el LED rojo aproximadamente 3/4 de la intensidad máxima, prender el LED amarillo aprox. 1/2 intensidad, y el LED verde 1/4 intensidad."]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]]