[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Dimmer con el potenciómetro controlando los 3 leds"]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 678 :height 202 :controls true}
  [:source {:src "exercises/17.mov" :type "video/mp4"}]]]