[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Parpadear led rojo con frecuencia variable (el delay en función del valor del potenciómetro: de 0 a 1 segundo)"]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 688 :height 224 :controls true}
  [:source {:src "exercises/18.mov" :type "video/mp4"}]]]