[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Parpadear led rojo 1 vez por segundo, controlar intensidad del led amarillo con el potenciómetro, y parpadear el led verde con frecuencia variable"]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 702 :height 248 :controls true}
  [:source {:src "exercises/20.mov" :type "video/mp4"}]]]