[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Prender el LED verde, esperar 1 segundo, apagar el LED verde, esperar 2 segundos, volver a prender el LED verde, y finalmente terminar el programa."]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 736 :height 380 :controls true}
  [:source {:src "exercises/3.mov" :type "video/mp4"}]]]