[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:p "Cada vez que se presiona el botón A se invierte el estado de los 3 LEDs."]
  [:div.alert.alert-warning {:role "alert"} "IMPORTANTE: A diferencia del ejercicio anterior ahora NO hay que esperar a que se suelte el botón."]]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]
   [:tr [:td "LDR"] [:td "A5"]]
   [:tr [:td "Botón A"] [:td "D7"]]
   [:tr [:td "Botón B"] [:td "D8"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 800 :height 450 :controls true}
  [:source {:src "exercises/43.mov" :type "video/mp4"}]]]