[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Prender todos los LEDs, esperar 3 segundos, apagar el LED rojo, esperar 2 segundos, apagar el LED amarillo, esperar 1 segundo, apagar el LED verde, y terminar el programa."]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 778 :height 378 :controls true}
  [:source {:src "exercises/5.mov" :type "video/mp4"}]]]