[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Hacer parpadear el LED rojo cada 1 segundo."]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 756 :height 384 :controls true}
  [:source {:src "exercises/6.mov" :type "video/mp4"}]]]