[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5 "Parpadear led amarillo (tiempo encendido: 250 ms, tiempo apagado: 1500 ms)"]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 790 :height 346 :controls true}
  [:source {:src "exercises/7.mov" :type "video/mp4"}]]]