[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:div "Encender todos los LEDs en secuencia (primero el rojo, luego el amarillo, y luego el verde) con una diferencia de 100 ms entre cada LED."]
  [:div "Luego apagarlos en el mismo orden y con el mismo delay. Volver a empezar."]]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 706 :height 324 :controls true}
  [:source {:src "exercises/9.mov" :type "video/mp4"}]]]