@font-face {
    font-family: LunaSans;
    src: url('fonts/LunaSans-Regular.ttf');
}

body {
    font-family: LunaSans, monospace;
}

html, body, .fullheight {
    min-height: 100% !important;
    height: 100%;
}

.scrollable {
    overflow-x: auto !important;
    overflow-y: scroll !important;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
  }