[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:div "Hacer parpadear todos los LEDs pero cada uno con diferentes tiempos de encendido y apagado:"]
  [:ul
   [:li "El rojo: 1 segundo encendido y 1 segundo apagado."]
   [:li "El amarillo: 1 segundo encendido y 1500 ms apagado."]
   [:li "Y el verde: 1 segundo encendido y 2 segundos apagado."]]]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 728 :height 274 :controls true}
  [:source {:src "exercises/12.mov" :type "video/mp4"}]]]