[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:div "Hacer parpadear el LED rojo a diferente frecuencia dependiendo de qué botón esté presionado:"]
  [:ul
   [:li "Cada 1 segundo si el botón A está presionado."]
   [:li "Cada 2 segundos si el botón B está presionado."]
   [:li "Cada 500 milisegundos si ambos botones están presionados."]
   [:li "Y cada 100 milisegundos si ninguno de los botones están presionados."]]]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Botón A"] [:td "D7"]]
   [:tr [:td "Botón B"] [:td "D8"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 800 :height 450 :controls true}
  [:source {:src "exercises/26.mov" :type "video/mp4"}]]]