[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:div "Prender sólo uno de los tres LEDs dependiendo del ángulo del potenciómetro:"]
  [:ul
   [:li "Entre 0º y 90º: el LED rojo."]
   [:li "Entre 90º y 180º: el LED amarillo."]
   [:li "Entre 180º y 270º: el LED verde."]]]
 [:img.img-fluid.w-25 {:src "exercises/how-it-works-rotary-potentiometer.gif"}]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 800 :height 450 :controls true}
  [:source {:src "exercises/29.mov" :type "video/mp4"}]]]