[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:div "Implementar un contador de veces que se presiona el botón A."]
  [:div "Dependiendo del valor del contador se prende un LED distinto:"]
  [:ol
   [:li [:i.fa-solid.fa-square.text-danger.me-2] "Rojo"]
   [:li [:i.fa-solid.fa-square.text-warning.me-2] "Amarillo"]
   [:li [:i.fa-solid.fa-square.text-success.me-2] "Verde"]]
  [:div "Cuando el contador llega a 4 vuelve automáticamente a 1."]]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]
   [:tr [:td "LDR"] [:td "A5"]]
   [:tr [:td "Botón A"] [:td "D7"]]
   [:tr [:td "Botón B"] [:td "D8"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 800 :height 450 :controls true}
  [:source {:src "exercises/45.mov" :type "video/mp4"}]]]