[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:p
   [:div "Usar los botones para ir prendiendo los LEDs en secuencia (rojo, amarillo, verde, y volver a empezar)."]
   [:div "Cada vez que se presiona y suelta alguno de los 2 botones se apaga el LED actual y se prende el siguiente."]]
  [:p "El botón A avanza la secuencia, el botón B retrocede."]]
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]
   [:tr [:td "LDR"] [:td "A5"]]
   [:tr [:td "Botón A"] [:td "D7"]]
   [:tr [:td "Botón B"] [:td "D8"]]]]
 [:h4 "Ejemplo"]
 [:video {:width 800 :height 450 :controls true}
  [:source {:src "exercises/54.mov" :type "video/mp4"}]]]