[:div.d-grid.gap-2
 [:h3 "Consigna"]
 [:p.fs-5
  [:div "Reproducir el mismo sonido durante 1 segundo. El tono a reproducir depende del valor potenciómetro (yendo de 0 a 1000). Luego de reproducir el sonido el programa vuelve a empezar."]] 
 [:table.table.table-striped.table-sm.w-50
  [:thead
   [:th.col "Componente"]
   [:th.col "Pin"]]
  [:tbody
   [:tr [:td "LED rojo"] [:td "D11"]]
   [:tr [:td "LED amarillo"] [:td "D10"]]
   [:tr [:td "LED verde"] [:td "D9"]]
   [:tr [:td "Potenciómetro"] [:td "A4"]]
   [:tr [:td "LDR"] [:td "A5"]]
   [:tr [:td "Botón A"] [:td "D7"]]
   [:tr [:td "Botón B"] [:td "D8"]]
   [:tr [:td "Buzzer"] [:td "D2"]]]]]